<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head>
    <meta charset="utf-8">
    <title>EasyPT v1.0 (Beta)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">       
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="EasyPT is a tool to quickly and easily update your PT efforts for a week, making the life of a developer a lot easier." />
	<meta name="keywords" content="EasyPT, DESIS, D.E.Shaw, PT Update, Weekly Effort, Risk, Desflow" />
	<meta name="author" content="Abhishek Shrivastava (i.abhi27[at]gmail[dot]com)">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; 
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
        
    <!-- Le UI public javascripts -->
    <script type='text/javascript' src="js/json2.min.js"></script>
    <script type='text/javascript' src="js/jquery.min.js"></script>
    <script type='text/javascript' src="js/jquery.ui.min.js"></script>	
    <script type='text/javascript' src="js/bootstrap.min.js"></script>
	<script type='text/javascript' src="js/jquery.textext.min.js"></script>
	<script type='text/javascript' src="js/jquery.slimscroll.min.js"></script>
	<script type='text/javascript' src="js/handlerbars.js"></script>	
	<script type='text/javascript' src='js/persist-all.min.js'></script>
	
	<!-- Le Handlebar templates -->
	
	<!-- Handlebar view for alert message -->
	<script id="hb-alert-message" type="text/x-handlebars-template">
		{{#if message}}
		   <div class="alert fade in alert-{{type}} error-message-inner">			
			<a  class="close" data-dismiss="alert">×</a>
			{{#if loading}}
				<div style="float:left">
					<img class="loading-image" src="img/loading_timer.gif"/>
				</div>
			{{/if}} 	
			{{{message}}}
		   </div>
		{{/if}}
	</script>
	
	<!-- Handlebar view for desflow request pane -->
	<script id="hb-desflow-request" type="text/x-handlebars-template">
		<div class="well desflow-request-div" style="max-height:120px" id="desflow-{{ba}}-{{number}}">
			<div class="row">
				<div class="span4">
					<blockquote><a href="http://go/{{ba}}#{{number}}">
					<p>{{ba}}#{{number}} - {{title}}</p>
					{{#if isActiveStatus}}
					<span class="label label-success">{{status}}</span>
					{{/if}}
					{{#if isClosedStatus}}
					<span class="label label-important">{{status}}</span>
					{{/if}}
					{{#if isSuspendedStatus}}
					<span class="label label-info">{{status}}</span>
					{{/if}}
					</a></blockquote>
			
					<div class="input-prepend pull-left" style="margin-right:10px">
					  <span class="add-on">TS</span>
					  <span class="input-mini uneditable-input">{{ts}}</span>
					</div>			
					<div class="input-prepend">
					  <span class="add-on">TTS</span>
					  <span class="input-mini uneditable-input">{{tts}}</span>
					</div>
				</div>
	
				<div class="span4">
					<div class="desflow-request-pt">
					<table class="table table-condensed table-hover table-bordered">
					<thead><tr><th>TS</th><th>User</th><th>Details</th></tr></thead>
					<tbody>
					{{#each newpt}}
						{{#with this}}
						 <tr class="warning new-pt-row">
						 <td><input class='new-pt-ts' type="text" style="width:30px; margin-bottom:0px!important;" value="{{ts}}" /></td>
						 <td>{{user}}</td>
						 <td>
						 <input class="new-pt-detail" type="text" style="width:225px; margin-bottom:0px!important;" value="{{{items}}}" />
						 </td>
						 </tr>
						{{/with}}			
					{{/each}}
					{{#each pt}}
						{{#with this}}
						 <tr class="success">
						 <td>{{ts}}</td>
						 <td>{{user}}</td>
						 <td>
						 {{{items}}}
						 </td>
						 </tr>
						{{/with}}			
					{{/each}}
					</tbody>
					</table>
					</div>
				</div>
				
				<div class="span3 new-pt-box">
					<input type="text" class="input-mini new-pt-ts" placeholder="TS">
					<textarea rows="3" class="new-pt-detail"></textarea>
				</div>
				{{#if isAdhoc}}
				<button type="button" class="close adhoc-request-delete-btn" style="position:relative;top:-15px">&times;</button>
				{{/if}}						
			</div>
		</div>
	</script>
		
	<!-- Le EasyPT core javascript libraries -->
	<script type='text/javascript' src="lib/EasyPTConfig.js"></script>
	<script type='text/javascript' src="lib/EasyPTUtil.js"></script>
	<script type='text/javascript' src="lib/DesflowRequest.js"></script>
	<script type='text/javascript' src="lib/DesflowBridge.js"></script>
	<script type='text/javascript' src="lib/UserStorage.js"></script>
	<script type='text/javascript' src="lib/EasyPTUI.js"></script>
	<script type='text/javascript' src="lib/EasyPTController.js"></script>
	
	<!-- Le Bootstrapping EasyPT -->
	<script>		
	// Fallback to console for older IE
	var console = console || {log:function(){}};
	
	var EasyPT;	
	$(document).ready(function() {
		displayLoading('Rendering....');
		var activeUser = getActiveUser();
		var activeWeekRange = getActiveWeek();
		EasyPT = new EasyPTController(activeUser, activeWeekRange);
		EasyPT.init(renderEasyPTUI);	
	});
	</script>
		
  </head>
  
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">EasyPT</a>
          <div class="nav-collapse control-panel">
            <ul class="nav">
               <li class="active"><a href="#">Risk</a></li>
               <li><a><strong><span class="muted" id='user-name'>Anonymous</span>
               (<span class="text-warning" id='week-start-date'>00000000</span> - <span class="text-warning" id='week-end-date'>00000000</span>)</strong></a></li>
               <li class="divider-vertical"></li>
            </ul>
            
            <div style="text-align:center">
            
            <div class="btn-group" style="display:inline-block">
            <a class="btn span1" disabled="disabled">TTS : <span id='current-week-tts'>???<span></a>
            <a class="btn btn-primary" type="button" id='recalc-btn'><i class="icon-refresh icon-white"></i> Recalculate</a>               		    
   		    </div>	
            <i class="icon-arrow-right" style="margin-top:4px"></i>
            <a class="btn btn-success" type="button" id='save-btn'><i class="icon-ok-circle icon-white"></i> Save</a>
            <i class="icon-arrow-right" style="margin-top:4px"></i>
            <a class="btn btn-warning" type="button" disabled="disabled" id='lock-btn' style='width:70px'><i class="icon-lock icon-white"></i>&nbsp;<span>Lock</span></a>
            <i class="icon-arrow-right" style="margin-top:4px"></i>
            <a class="btn btn-danger" type="button" disabled="disabled" id='push-btn'><i class="icon-random icon-white"></i> Push to Desflow!</a>
            <ul class="nav pull-right">          
            	<li class="divider-vertical"></li>
              <li><a class="pull-right" data-toggle="modal" href="#about">About</a></li>
            </ul>
			</div>
			
          </div>
        </div>
      </div>
    </div>
    
	<div id="alert-message"></div>
	
    <div class="container" id='container'>
        	
	<div class="progress progress-striped active">
  		<div class="bar" id='pt-progress-bar'></div>
  		<div class="bar bar-danger" id='pt-remaining-bar'></div>
	</div>
    
    <h4 class="text-error">Ad-hoc Requests</h4>
   
    <div class="input-prepend input-append">
    	<span class="add-on">Risk#</span>
  		<input class="input-mini" size="16" type="text" id='adhoc-request-add-input'>
  		<a class="btn btn-inverse" type="button" id='adhoc-request-add-btn'><i class="icon-plus-sign icon-white"></i> Add</a>
	</div>

    <div id='adhoc-requests-container'></div>
    
    <h4 class="text-error">Assigned Requests with Recent Status Updates</h4>
    <div id='weekly-requests-container'><p>None</p></div>
    
    <h4 class="text-error">Meetings & Management Tasks</h4>
    <div id='mgmt-requests-container'><p>None</p></div>
		
    </div> <!-- /container -->

	<div class="modal hide" id="about">
	    <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">×</button>
	    <h3>About EasyPT</h3>
	    </div>
	    <div class="modal-body">
	    <p>EasyPT is a tool that makes it a lot easier to keep track of your weekly efforts and to update them on Desflow with the click of a button!</p>
	    <p>It is meant to make the life a developer a lot, lot easier. Still in Beta, for any bugs please contact <a href='mailto:shrivasa@deshaw.com'>Abhishek Shrivastava (shrivasa)</a></p>
	    </div>
	    <div class="modal-footer">
	    <a href="#" class="btn" data-dismiss="modal">Close</a>
	    </div>
    </div>
    <div class="modal hide" id="desflow-push-confirmation" data-backdrop="static" data-keyboard="false">
	    <div class="modal-header">
	    <h3>Confirm Desflow Push</h3>
	    </div>
	    <div class="modal-body">
	    <p>You are about to update the PT of following requests in Desflow. Please confirm and click 'OK'.</p>
	    <span class="label label-warning">You cannot UNDO this step once done. If unsure, please click 'CANCEL' and review the PTs.</span><br/><br/>
	    <div>
	    <ul id='desflow-push-confirm-list'>
	    </ul>
	    </div>	    
	    </div>
	    <div class="modal-footer">
	    <a href="#" class="btn btn-danger pull-left" data-dismiss="modal" id='desflow-push-confirm-btn'>OK, do it!</a>
	    <a href="#" class="btn" data-dismiss="modal" id='desflow-push-cancel-btn'>Cancel</a>
	    </div>
    </div>

  </body>
</html>